<link rel="stylesheet" href="/stylesheets/style.css">
<header>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <span class="highlight">P</span>-cart-user
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar"
        aria-controls="mynavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          {{#if sessiondata}}
          <li class="nav-item">
            <a class="nav-lin" href="/myOrders">My Orders</a>
          </li>
          {{/if}}
          <li class="nav-item">
            <a class="nav-lin" href="javascript:void(0)">Services</a>
          </li>
          {{#if sessiondata}}
          <li class="nav-item">
            <a class="nav-lin" href="/cart">Cart
              <span class="badge bg-secondary">{{numberOfItems}}</span>
            </a>
          </li>
          {{/if}}
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-primary" type="submit">Search</button>
        </form>
        <!-- Dropdown button -->
        <div class="dropdown ms-3">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
            data-bs-toggle="dropdown" aria-expanded="false">
            {{#if sessiondata}}
            {{sessiondata.name}}
            {{else}}
            Sign In/Up
            {{/if}}
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {{#if sessiondata}}

            <li><a class="dropdown-item" href="/logout">Logout</a></li>

            {{else}}

            <li><a class="dropdown-item" href="/signup">Sign Up</a></li>
            <li><a class="dropdown-item" href="/login">Sign In</a></li>
            {{/if}}
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
<script>
  window.addEventListener('pageshow', function (event) {
    if (event.persisted || (window.performance && window.performance.navigation.type === 2)) {
      window.location.reload(); // Force reload the page
    }
  });
</script>